<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
<add key="is2AdminClient.is2maintenance.Service1" value="https://wwwis2.fukutsu.co.jp/is2/is2Maintenance/Service1.asmx"/>
<add key="is2AdminClient.is2oshirase.Service1" value="https://wwwis2.fukutsu.co.jp/is2/is2oshirase/Service1.asmx"/>
</appSettings>
</configuration>
